*.a
*.bak
*.gz
*.zip
*.tar
*.la
*.lo
*.o
*.rpm
*.so
*.so.*
*.cmake
*.vcxproj
*.filters
*.sln
*.pb.h
*.pb.cc
*.log
*.srpc.h
*.thrift.h
*.pb_skeleton.h
*.pb_skeleton.cc
*.thrift_skeleton.h
*.thrift_skeleton.cc

_bin/
_include/
_lib/
.deps/
build/
build_pkg/
CMakeFiles/
Debug/
Release/

missing
SRCINFO
SRCNUMVER
SRCVERSION
CMakeCache.txt
Makefile

bazel-*
